@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;600&family=Fira+Sans:ital,wght@0,100;0,200;0,400;0,600;0,700;1,100;1,200;1,400;1,600;1,700&display=swap');
:root {
    --code-font-family: 'Fira Code', monospace;
    --code-weight-normal: 300;
    --code-weight-semibold: 400;
    --code-weight-bold: 600;

    --text-font-family: 'Fira Sans', 'Helvetica Neue', Arial, sans-serif;
    --text-weight-light: 100;
    --text-weight-normal: 200;
    --text-weight-heading: 400;
    --text-weight-bold: 600;
    --text-weight-heavy: 700;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-kerning: normal;
    font-size: 100%;
    height: 100%;
}

:root {
    --text-color: #002b36;
    --title-color: #365F91;
    --subtitle-color: #808080;
    --heading-color: #4F81BD;
    --border-color: #586e75;
    
    --: var(--text-color);
    --code-background-color: #eee8d5;
    --code-light-background-color: #fdf6e3;
    --code-border-color: #93a1a1;
}

:root {
    --print-text-color: black;
    
    --print-code-color: var(--print-text-color);
    --print-code-background-color: white;
    --print-code-light-background-color: var(--print-code-background-color);
}

:root {
    --text-normal: 1.0em;
    --text-small: 0.8em;
    --text-smaller: 0.6em;
    --text-tiny: 0.4em;
    --text-large: 1.6em;
    --text-larger: 2.4em;
    --text-huge: 3.2em;

    --line-height-none: 0;
    --line-height-normal: 1.6em;
    --line-height-code: 1.4em;
    --line-height-compressed: 1.2em;
    --line-extension-normal: 0.6em;
    --line-extension-code: 0.4em;
    --line-extension-compressed: 0.2em;
}

body {
    color: var(--text-color);
    font-family: var(--text-font-family);
    font-weight: var(--text-weight-normal);
    line-height: var(--line-height-normal);
}

p, li, dd {
    text-align: justify;
}

b, strong {
    font-weight: var(--text-weight-bold);
}

header > h1.title {
    color: var(--title-color);
    font-size: var(--text-larger);
    font-weight: var(--text-weight-heading);
    text-align: center;
}

header > p.subtitle {
    color: var(--subtitle-color);
    font-size: var(--text-large);
    font-weight: var(--text-weight-heading);
    text-align: center;
}

h1, h2, h3, h4, h5 {
    color: var(--heading-color);
    font-weight: var(--text-weight-heading);
}

:root {
    --caption-font-size: var(--text-small);
    --caption-font-style: italic;
    --caption-font-weight: var(--text-weight-light);
}

:root {
    --border-width: 1px;
    --border-width-thick: 2px;
    --border-width-block: 0.25em;
    --border-radius-small: 3px;
    --border-radius-normal: 0.25em;
    --border-style: solid;
    --table-border: var(--border-width) var(--border-style) var(--border-color);
    --section-border: var(--border-width) var(--border-style) var(--border-color);
}

:root {
    --kbd-line-height: 1.8em;
    --kbd-spacing-none: 0;      /* top and bottom */
    --kbd-spacing-between: 0.2em; /* between individuals */
    --kbd-spacing-some: 0.5em; /* left and right */
    --kbd-box-shadow: 0 0.15em 0 var(--code-border-color);
    --kbd-box-inset: 0 0 0 0.03em var(--code-light-background-color);
}

kbd {
    font-family: var(--code-font-family);
    font-weight: var(--code-weight-normal);
    color: var(--code-color);
}

kbd:not(:has(kbd)) {
    font-size: var(--text-smaller);
    line-height: var(--kbd-line-height);
    background-color: var(--code-background-color);
    display: inline-block;
    padding: var(--kbd-spacing-none) var(--kbd-spacing-some);
    border: var(--border-width) var(--border-style) var(--border-color);
    border-radius: var(--border-radius-normal);
    box-shadow: var(--kbd-box-shadow), inset var(--kbd-box-inset);
    vertical-align: text-bottom;
}

kbd > kbd:not(:first-child) {
    margin-left: var(--kbd-spacing-between);
}

kbd > span.cmd {
    font-size: var(--text-smaller);
    line-height: var(--kbd-line-height);
    margin-left: var(--kbd-spacing-between);
    vertical-align: text-bottom;
}

/* common, OS-agnostic, key names */
kbd.arrow-up::before {
    /* U+2191: Upwards Arrow ↑ */
    content: "\2191 ";
}
kbd.text-arrow-up::after {
    content: " Up";
}
kbd.arrow-down::before {
    /* U+2193: Downwards Arrow ↓ */
    content: "\2193 ";
}
kbd.text-arrow-down::after {
    content: " Down";
}
kbd.arrow-left::before {
    /* U+2190: Leftwards Arrow ← */
    content: "\2190 ";
}
kbd.text-arrow-left::after {
    content: " Left";
}
kbd.arrow-right::before {
    /* U+2192: Rightwards Arrow → */
    content: "\2192 ";
}
kbd.text-arrow-right::after {
    content: " Right";
}
kbd.page-up::before {
    /* U+21DE: Upwards Arrow with Double Stroke ⇞ */
    content: "\21DE ";
}
kbd.text-page-up::after {
    content: " Pg Up";
}
kbd.page-down::before {
    /* U+21DF: Downwards Arrow with Double Stroke ⇟ */
    content: "\21DF ";
}
kbd.text-page-down::after {
    content: " Pg Dn";
}
kbd.home::before {
    /* U+2196: North West Arrow ↖ */
    /* U+2B76: North West Triangle-Headed Arrow To Bar ⭶ [ official standard ] */
    content: "\2196 ";
}
kbd.text-home::after {
    content: " Home";
}
kbd.mac-home::before {
    /* U+2912: Upwards Arrow To Bar ⤒ */
    content: "\2912 ";
}
kbd.end::before {
    /* &U+2198: South East Arrow Emoji ↘ */
    /* U+2B78: South East Triangle-Headed Arrow To Bar ⭸ [ official standard ] */
    content: "\2198 ";
}
kbd.text-end::after {
    content: " End";
}
kbd.mac-end::before {
    /* U+2913: Downwards Arrow To Bar ⤒ */
    content: "\2913 ";
}

kbd.shift::before {
    /* U+21E7: Upwards White Arrow ⇧ */
    content: "\21E7 ";
}
kbd.text-shift::after {
    content: " Shift";
}
kbd.caps-lock::before {
    /* U+21EA: Upwards White Arrow from Bar ⇪ */
    content: "\21EA ";
}
kbd.text-caps-lock::after {
    content: " Caps Lock";
}
kbd.control::before {
    /* U+2303: Up Arrowhead ⌃ */
    content: "\2303 ";
}
kbd.text-control::after {
    content: " Ctrl";
}
kbd.alt::before {
    /* U+2387: Alternative Key Symbol ⎇ */
    content: "\2387 ";
}
kbd.text-alt::after {
    content: " Alt";
}
kbd.insert::before {
    /* U+2380: Insertion Symbol ⎀ */
    content: "\2380 ";
}
kbd.text-insert::after {
    content: " Insert";
}
kbd.num-lock::before {
    /* U+21ED: Upwards White Arrow On Pedestal with Vertical Bar ⇭ */
    content: "\21ED ";
}
kbd.text-num-lock::after {
    content: " Num Lock";
}
kbd.text-scroll-lock::after {
    content: " Scroll Lock";
}
kbd.text-alt-graph::after {
    content: " AltGr";
}
kbd.text-print-screen::after {
    content: " Prt Sc";
}
kbd.text-function::after {
    content: " Fn";
}

kbd.space::before {
    /* U+2423: Open Box ␣ */
    content: "\2423 ";
}
kbd.text-space::after {
    content: " Space";
}
kbd.tab::before {
    /* U+21B9: Leftwards Arrow To Bar Over Rightwards Arrow To Bar ↹ */
    /* U+2B7E: Horizontal Tab Key ⭾ */
    content: "\21B9 ";
}
kbd.text-tab::after {
    content: " Tab";
}
kbd.tab-right::before {
    /* U+21E5: Rightwards Arrow To Bar ⇥ */
    content: "\21E5 ";
}
kbd.text-tab-right::after {
    content: " Tab Right";
}
kbd.tab-left::before {
    /* U+21E4: Leftwards Arrow To Bar ⇤ */
    content: "\21E4 ";
}
kbd.text-tab-left::after {
    content: "Tab Left";
}
kbd.backspace::before {
    /* U+2190: Leftwards Arrow ← */
    content: "\2190 ";
}
kbd.text-backspace::after {
    content: " Backspace";
}
kbd.mac > kbd.backspace::before {
    /* U+232B: Erase To the Left ⌫ */
    content: "\232B ";
}
kbd.mac > kbd.text-backspace::after {
    content: " Back Space";
}
kbd.delete::before {
    /* U+2326: Erase To the Right ⌦ */
    content: "\2326 ";
}
kbd.text-delete::after {
    content: " Delete";
}
kbd.enter::before {
    /* U+2386: Enter Symbol ⎆ [official standard] */
    /* U+21B5: Downwards Arrow with Corner Leftwards ↵ */
    content: "\21B5 ";
}
kbd.text-enter::after {
    content: " Enter";
}
kbd.mac > kbd.enter::before {
    /* U+2305: Projective ⌅ */
    content: "\2305 ";
}
kbd.mac > kbd.text-enter::after {
    content: " enter";
    font-weight: bold;
}
kbd.return::before {
    /* U+23CE: Return Symbol ⏎ [official standard] */
    content: "\23CE ";
}
kbd.text-return::after {
    content: " Return";
}
kbd.win > kbd.return::before {
    /* U+21B5: Downwards Arrow with Corner Leftwards ↵ */
    content: "\21B5 ";
}

kbd.escape::before {
    /* U+238B: Broken Circle with Northwest Arrow ⎋ */
    content: "\238B ";
}
kbd.text-escape::after {
    content: " Esc";
}
kbd.undo::before {
    /* U+21B6: Anticlockwise Top Semicircle Arrow ↶ */
    /* U+238C: Undo Symbol ⎌ */
    content: "\238C ";
}
kbd.text-undo::after {
    content: " Undo";
}
kbd.redo::before {
    /* U+21B7: Clockwise Top Semicircle Arrow ↶ */
    content: "\21B7 ";
}
kbd.text-redo::after {
    content: " Redo";
}
kbd.break::before {
    /* U+238A: Circled Triangle Down ⎊ */
    content: "\238A ";
}
kbd.text-break::after {
    content: " Break";
}
kbd.power::before {
    /* U+23FC: Power On-Off Symbol ⏼ */
    /* U+23FB: Power Symbol ⏻ */
    content: "\23FB ";
}
kbd.text-power::after {
    content: " Power";
}
kbd.sleep::before {
    /* U+23FE: Power Sleep Symbol ⏾ */
    content: "\23FE ";
}
kbd.text-sleep::after {
    content: " Sleep";
}

kbd.win > kbd.windows::before {
    /* :U+229E: Squared Plus ⊞ */
   content: "\229E ";
}
kbd.win > kbd.text-windows::after {
   content: " Win";
}
kbd.win > kbd.menu::before {
    /* U+2261: Identical To ≡ */
    /* U+2630: Trigram for Heaven ☰ */
   content: "\2630 ";
}
kbd.win > kbd.text-menu::after {
   content: " Menu";
}

kbd.mac > kbd.option:before {
    /* U+2325: Option Key ⌥ */
    content: "\2325 ";
}
kbd.mac > kbd.text-option::after {
    content: " Option";
}
kbd.mac > kbd.command::before {
    /* U+2318: Place of Interest Sign ⌘ */
    content: "\2318 ";
}
kbd.mac > kbd.text-command::after {
    content: " Cmd";
}
kbd.mac > kbd.globe::before {
    /* U+1F310: Globe with Meridians Emoji 🌐 */
    content: "\1F310 ";
}

kbd.legacy > kbd.meta::before {
    /* U+25C6: Black Diamond ◆ */
    content: "\25C6 ";
}
kbd.legacy > kbd.text-meta::after {
    content: " Meta";
}
kbd.legacy > kbd.super::before {
    /* U+2756: Black Diamond Minus White X ❖ */
    content: "\2756 ";
}
kbd.legacy > kbd.text-super::after {
    content: " Super";
}
kbd.legacy > kbd.hyper::before {
    /* U+2727: White Four Pointed Star ✧ */
    /* U+2726: Black Four Pointed Star ✦ */
    content: "\2726 ";
}
kbd.legacy > kbd.text-hyper::after {
    content: " Hyper";
}
kbd.legacy > kbd.control::before {
    /* U+2388: Helm Symbol ⎈ */
    content: "\2388 ";
}
kbd.win.legacy > kbd.control::before {
    /* U+2732: Open Centre Asterisk ✲ */
   content: "\2732 ";
}

kbd.emacs > kbd.text-arrow-up::after {
    content: " [up key]";
}
kbd.emacs > kbd.text-arrow-down::after {
    content: " [down key]";
}
kbd.emacs > kbd.text-arrow-left::after {
    content: " [left key]";
}
kbd.emacs > kbd.text-arrow-right::after {
    content: " [right key]";
}
kbd.emacs > kbd.text-space::after {
    content: " SPC"
}
kbd.emacs > kbd.text-shift::after {
    content: " S-"
}
kbd.emacs > kbd.text-control::after {
    content: " C-";
}
kbd.emacs > kbd.text-alt::after {
    content: " A-";
}
kbd.emacs > kbd.text-meta::after {
    content: " M-";
}
kbd.emacs > kbd.text-return::after {
    content: " RET";
}
kbd.emacs > kbd.text-backspace::after {
    content: " BS";
}
kbd.emacs > kbd.text-delete::after {
    content: " DEL";
}
kbd.emacs > kbd.text-escape::after {
    content: " ESC";
}

@media screen {
    :root {
        --root-font-size-small: 14px;
        --root-font-size-normal: 16px;
        --root-font-size-large: 18px;
        --abstract-margin: calc(var(--text-huge) * 2);;
    }
}

body {
    min-height: 100%;
    padding-left: var(--text-large);
    padding-right: var(--text-large)
}
h1.title {
    margin-top: var(--text-normal);
    margin-bottom: var(--text-smaller);
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    body {
        font-size: var(--root-font-size-small);
    }
    div#content {
        margin-left: auto;
        margin-right: auto;
        min-width: 21em;
        max-width: 30em;
    }
    img {
        max-width: 420px;
        height: auto;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px)  {
    body {
        font-size: var(--root-font-size-small);
    }
    div#content {
        margin-left: auto;
        margin-right: auto;
        min-width: 30em;
        max-width: 48em;
    }
    img {
        max-width: 640px;
        height: auto;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px)  {
    body {
        font-size: var(--root-font-size-normal);
    }
    div#content {
        margin-left: auto;
        margin-right: auto;
        min-width: 28em;
        max-width: 58em;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 1025px) and (max-width: 2048px) {
    body {
        font-size: var(--root-font-size-large);
    }
    div#content {
        margin-left: auto;
        margin-right: auto;
		  min-width: 52em;
        max-width: 68em;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 2049px) {
    body {
        font-size: var(--root-font-size-large);
    }
    div#content {
        margin-left: auto;
        margin-right: auto;
        min-width: 68em;
        max-width: 72em;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}

@media print {
    :root {
        --root-font-size-small: 12px;
        --root-font-size-normal: 14px;
        --root-font-size-large: 16px;
        --print-margin-inner: 4cm;
        --print-margin-outer: 2cm;
        --print-margin-top: var(--print-margin-outer);
        --print-margin-bottom: var(--print-margin-inner);
        --print-margin-equal: calc((var(--print-margin-outer) + var(--print-margin-inner)) / 2);
        --abstract-margin: var(--text-huge)
    }
}

@media print {
    body {
        color: var(--print-text-color) !important;
        font-size: var(--root-font-size-normal) !important;
        padding: 0 !important;
    }
    body.small-print {
        font-size: var(--root-font-size-small) !important;
        padding: 0 !important;
    }
    body.large-print {
        font-size: var(--root-font-size-large) !important;
        padding: 0 !important;
    }
    header > h1.title {
        margin-top: var(--text-huge);
        margin-bottom: var(--text-small);
    }
    header > p.subtitle {
        margin-top: var(--line-height-none);
        margin-bottom: var(--text-larger);
    }
    div#org-div-home-and-up {
        display: none;
    }
    nav#table-of-contents {
        display: none;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    div#content {
        margin: auto;
    }
}

@media print {
    h1.title { 
        string-set: doctitle content(); 
    }
    header, div.figure, td, th {
        page-break-inside: avoid;
    } 
    @page {
        size: letter portrait;
        margin-top:var(--print-margin-top);
        margin-bottom: var(--print-margin-equal);
    }
    @page :first {
        margin-left: var(--print-margin-equal);
        margin-right: var(--print-margin-equal);
    }
    @page :left {
        margin-left: var(--print-margin-outer);
        margin-right: var(--print-margin-inner);
        @bottom-left {
            content: counter(page);
        }
        @top-left {
            content: string(doctitle);
        }
    }
    @page :right {
        margin-left: var(--print-margin-inner);
        margin-right: var(--print-margin-outer);
        @bottom-right {
            content: counter(page);
        }
        @top-right {
            content: string(doctitle);
        }
    }
}

ol li:last-child {
    margin-bottom: var(--text-small);
}

ul li:last-child {
    margin-bottom: var(--text-small);
}

:root {
    --dl-term-width-normal: 8em;
    --dl-term-width-wide: calc(var(--dl-term-width-normal) * 2);

    --dl-padding-normal: var(--text-normal);
}

dl.org-dl {
    display: grid;
    grid-template-columns: max-content auto;
    gap: var(--dl-padding-normal);
}

dl.org-dl > dt {
    grid-column-start: 1;
    font-weight: var(--code-weight-semibold);
    text-align: left;
    width: var(--dl-term-width-normal);
}
dl.org-dl.wide > dt {
    width: var(--dl-term-width-wide);
}

dl.org-dl > dd {
    grid-column-start: 2;
    margin-left: 0;
}

div.abstract, div.ABSTRACT {
    font-size: var(--text-small);
    margin-top: var(--text-huge);
    margin-left: var(--abstract-margin);
    margin-right: var(--abstract-margin);
    margin-bottom: var(--text-large);
}

div.abstract > p::before, div.ABSTRACT > p::before {
    content: "Abstract: ";
    font-weight: var(--text-weight-heading);
}

nav#table-of-contents > div#text-table-of-contents ul {
    list-style-type: none;
    margin-left: var(--text-normal);
    padding: 0;
}

blockquote {
    display: block;
    margin: var(--text-normal);
    padding-left: var(--text-larger);
    padding-right: var(--text-larger);
    border: 0;
}

:root {
    --blockquote-leader-linespan: 2;
    --blockquote-decoration-color: var(--subtitle-color);
    --blockquote-border-color-dark: var(--heading-color);
    --blockquote-border-color-light: color-mix(in srgb, var(--blockquote-border-color-dark) 10%, white);
}

blockquote.quoted p {
     font-style: italic;
}
blockquote.quoted p:first-child:before {
    content: open-quote;
    font-weight: var(--text-weight-bold);
    font-size: var(--text-large);
    color: var(--blockquote-decoration-color);
}
blockquote.quoted p:last-child:after {
    content: close-quote;
    font-weight: var(--text-weight-bold);
    font-size: var(--text-large);
    color: var(--blockquote-decoration-color);
}

blockquote.leader p:first-child:first-letter {
    initial-letter: var(--blockquote-leader-linespan);
    color: var(--blockquote-decoration-color);
}

blockquote.edged  {
    margin-left: 0;
    border-left-width: var(--text-normal);
    border-left-style: solid;
    border-left-color: var(--blockquote-border-color-light);
}

div.NOTE {
    display: block;
    margin: var(--text-normal);
    padding: var(--text-normal);
    border: var(--border-width-thick) var(--border-style) var(--heading-color);
    border-radius: var(--border-radius-normal);
}

div.NOTE p {
    margin-block-start: 0;
    margin-block-end: 0;
}

div.NOTE p:first-child:before {
    content: "\128457 NOTE ";
    font-weight: var(--text-weight-heading);
}

figure {
    text-align: center;
    break-inside: avoid;
}

figure > figcaption {
    font-size: var(--caption-font-size);
    font-style: var(--caption-font-style);
    font-weight: var(--caption-font-weight);
}

figure > img {
    margin-bottom: var(--text-tiny);
}
figure > figcaption {
    margin-top: 0;
}

table {
    border: var(--table-border);
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    min-width: 50%;
    font-size: var(--text-small);
    line-height: var(--line-height-compressed);
    break-inside: avoid; 
}

table > thead {
    color: var(--heading-color);
    font-weight: var(--text-weight-heading);
}

table > thead th,
table > tbody td {
    padding-top: var(--text-tiny);
    padding-left: var(--text-smaller);
    padding-bottom: calc(var(--text-tiny) * 0.5);
    padding-right: var(--text-smaller);
    border: var(--table-border);
}

table > thead th.org-left,
table > tbody td.org-left {
    text-align: left;
}
table > thead th.org-center,
table > tbody td.org-center {
    text-align: center;
}
table > thead th.org-right,
table > tbody td.org-right {
    text-align: right;
}

table caption {
    font-size: var(--caption-font-size);
    font-style: var(--caption-font-style);
    font-weight: var(--caption-font-weight);
}

pre, code {
    color: var(--code-color);
    font-family: var(--code-font-family);
    font-size: var(--text-small);
    font-weight: var(--code-weight-normal);
    line-height: var(--line-height-code);
}

div.org-src-container {
    break-inside: avoid;
}

div.org-src-container > pre.src {
    margin-top: var(--text-tiny);
    padding: var(--text-normal);
    background-color: var(--code-background-color);
    border: var(--border-width) var(--border-style) var(--code-border-color);
    border-radius: var(--border-radius-small);
    overflow-x: hidden;
}
div.org-src-container > pre.src:hover {
    background-color: var(--code-light-background-color);
}

div.org-src-container > pre.src.scroll {
    overflow-x: scroll;
}

p code, li code, dt code, dd code {
    background-color: var(--code-background-color);
    padding-left: var(--line-extension-compressed);
    padding-right: var(--line-extension-compressed);
}

div.org-src-container > label.org-src-name {
    font-size: var(--caption-font-size);
    font-style: var(--caption-font-style);
    font-weight: var(--caption-font-weight);
}

pre.example {
    margin-top: var(--text-tiny);
    padding: var(--text-normal);
    background-color: var(--code-background-color);
    border: var(--border-width) var(--border-style) var(--code-border-color);
    border-radius: var(--border-radius-small);
    overflow-x: hidden;
}
pre.example:hover {
    filter: brightness(var(--code-hover-brightness));
}

@media print {
    pre, code {
        color: var(--print-code-color);
    }
    div.org-src-container > pre.src {
        background-color: var(--print-code-background-color);
    }       
    p code, li code, dt code, dd code {
        background-color: var(--print-code-background-color);
    }  
    pre.example {
        background-color: var(--print-code-background-color);
    }   
}

:root {
    --math-color: var(--text-color);
    --math-font-size: 1.1em;
}

.katex {
    color: var(--math-color);
    font-size: var(--math-font-size);
}

.katex .tag {
    font-size: var(--caption-font-size);
    font-style: var(--caption-font-style);
    font-weight: var(--caption-font-weight);
}

div#org-div-home-and-up {
    text-align: right;
    font-size: var(--text-smaller);
    white-space: nowrap;
}

div#footnotes {
    border-top: var(--section-border);
    font-size: var(--text-small);
}
div#footnotes > div#text-footnotes div.footdef {
    display: grid;
    grid-template-columns: max-content auto;
    gap: var(--dl-padding-normal);
}
div#footnotes > div#text-footnotes div.footdef > sup {
    grid-column-start: 1;
    width: var(--text-larger);
}
div#footnotes > div#text-footnotes div.footdef > div.footpara {
    grid-column-start: 2;
    margin: 0;
}
div#footnotes > div#text-footnotes div.footdef > div.footpara p.footpara {
    margin: 0;
}

sup:has(a.footref)::before {
    content: "[";
}
sup:has(a.footref)::after {
    content: "]";
}

div#postamble {
    border-top: var(--section-border);
    margin-top: var(--text-larger);
    padding-top: var(--text-normal);
    font-weight: var(--text-weight-light);
    font-size: var(--text-small);
}
div#postamble > p {
    line-height: var(--line-height-compressed);
    margin-top: var(--text-tiny);
    margin-bottom: 0;
}

div#postamble > p.validation {
    display: none;
}


